*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

p{
    text-align: center;
}

.explicacao{
    text-align: center;
    margin: 20px;
}

.ex1{
    background-color: cadetblue;
    border: 2px solid black;
    width: 30%;
    /*margin: 20px;*/
    padding: 20px;

}

section{
    display: flex;
    margin: 20px auto;
    width: 89%;
    border: 2px solid black;
    height: 200px;
}

#container1{
    align-items: stretch;
}

#container2{
    align-items: flex-start;
}

#container3{
    align-items: flex-end;
}

#container4{
    align-items: center;
}

